*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#fridge
{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    position: relative;
    overflow: hidden;
}

.note{
    position: absolute;
    display: flex;
    background-color: papayawhip;
    /* width: 150px;
    height: 150px; */
    border: gold 1px solid;
    border-radius: 2px;
}
.textbox
{
    /* display: flex; */
    overflow: auto;
    margin: 8px;
    width: 100%;
    height: calc( 100% - 10px );
}
/* .textbox *
{
    width: calc( inherit - 10px )
} */

.icon
{
    position: absolute;
    width: 22px;
    height: 22px;
}

.delNote
{
    right: 0;
    top: 0;
}

.resizeNote
{
    right: 0;
    bottom: 0;
}

.editNote
{
    right: left;
    top: 0;
}


#wysiwyg
{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1149;
    top: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.15 );
    width: 100%;
    height: 100%;
}


.tox-statusbar
{
    height: max-content !important;
}

.btnTinyMCE
{
    display: flex;
    margin: 5px !important;
    width: 26px !important;
    height: 26px !important;
}

#TinyMCECancel
{
    background: url('../gfx/cancelIcon.svg') no-repeat !important;
    background-size: 26px !important;
}
#TinyMCESave
{
    background: url('../gfx/saveIcon.svg') no-repeat !important;
    background-size: 26px !important;
}


#promptThing
{
    display: none;
}